body
{
    margin: 0;
    padding: 0;
    background-color: rgb(121, 182, 231);
}

#canvas
{
    display: none;
}

.header
{
    background-color: rgb(25, 71, 110);
    height: 35px;
    padding : 15px;
    color: white;
}

.header h1
{
    margin: 0;
    text-align: center;
}

/* #images
{
    width: 500;
    height: 350;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
} */

#video
{
    position:relative;
}

.bottom
{
    max-width: 960px;
}

.stickers
{
    width: 10px;
    height: 10px;
}