body {font-family: Arial, Helvetica, sans-serif;} 
h1 {
    font-family: 'Charmonman';font-size: 22px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(97, 131, 170);;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.navbar
 {
    overflow: hidden;
    background-color: rgb(19, 51, 61);
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration-color: blue; */
    position: fixed;
    left : 0%;
    right: 0%;
    top: 0%;
}

.navbar a 
{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
}

h1
{
	color: rgb(68, 146, 170);
	font-size: 30px;
}

.minor
{
  color: rgb(68, 146, 170);
}

body
{
  background-color: rgb(121, 182, 231);
}

label
{
	float: center;
}

#myspace
{
	width: 30%;
	background-color: rgb(250, 252, 243);
	margin: auto;
	margin-top: 10%;
	border: 3px solid rgb(192, 214, 255);
	top: 20%;
}

#myspace1
{
	width: 30%;
	background-color: rgb(250, 252, 243);
	margin: auto;
	margin-top: 10%;
	border: 3px solid rgb(192, 214, 255);
	top: 10%;
}

a:visited { text-decoration: none; color: rgb(97, 131, 170); }
a:hover { text-decoration: none; color:rgb(32, 119, 177); }